<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EngineerTestSuite" verbose="1">
    <test name="EngineerTests">
        <classes>
            <class name="tests.people.testng.AutomatedEngineerTestNgTests"/>
            <class name="tests.people.testng.ManualEngineerTestNgTests"/>
            <class name="tests.people.testng.ParameterizedTestNgTests"/>
        </classes>
    </test>
</suite>